*{
	margin: 0;
	border: 0;
	padding: 0;
	font-family: Arial;
	font-size: 14px;
}

body{
	background: #f1f1f1;
	margin: 0;
	border: 0;
	padding: 0;
	font-family: Arial;
	font-size: 12px;
	display: flex;
}

header{
	flex-direction: row;
	justify-content: center;
}

div.menu{
	background: #32afed;
}